@mixin btn($bg-color: #e2e2e2) {
  --btn-padding-x: 0.75rem;
  --btn-padding-y: 0.375rem;
  --btn-border-radius: 0.375rem;
  --btn-font-size: 1rem;

  text-decoration: none;
  font-size: var(--btn-font-size);
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: var(--btn-border-radius);
  background-color: $bg-color;
  transition: $transition-base;
}

.btn {
  @include btn;
}

.btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-size: 1.25rem;
}
.btn-sm {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-size: 0.875rem;
}

@each $key, $val in $theme-colors {
  .btn-#{$key} {
    @include btn($val);
    &:hover {
      background-color: lighten($val, 5);
    }
  }
  .btn-outline-#{$key} {
    @include btn(transparent);
    border: 1px solid $val;
    color: $val;
    &:hover {
      background-color: $val;
      color: $color-light;
    }
  }
}