.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;

  @include mq(sm) {
    max-width: 540px;
  }

  @include mq(md) {
    max-width: 720px;
  }

  @include mq(lg) {
    max-width: 960px;
  }

  @include mq(xl) {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($gutter-width / 2);
  margin-right: -($gutter-width / 2);
  
  >.col {
    flex: 1 0 0%;
  }
}

.no-gutters {
  margin-left: 0px;
  margin-right: 0px;

  >[class*='col-'] {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@each $key, $value in $grid-breakpoints {
  @if not $value {
    @for $var from 1 through $grid-sum {
      .col-#{$var} {
        max-width: 100% * ($var / $grid-sum);
        flex: 0 0 (100% * ($var / $grid-sum));
        padding-left: $gutter-width / 2;
        padding-right: $gutter-width / 2;
      }
    }
  }

  @else {
    @media screen and (min-width: $value) {
      @for $var from 1 through $grid-sum {
        .col-#{$key}-#{$var} {
          max-width: 100% * ($var / $grid-sum);
          flex: 0 0 (100% * ($var / $grid-sum));
        }
      }
    }
  }
}