//colors
$color-primary: #326dee;
$color-secondary: #1ac886;
$color-danger: #d32752;
$color-gray: #c2c2c2;
$color-light: #fff;
$color-dark: #000;

$theme-colors: (
  primary:   $color-primary,
  secondary: $color-secondary,
  danger:    $color-danger,
  gray:      $color-gray,
  light:     $color-light,
  dark:      $color-dark,
);

//font-size
$fs-base: 1rem;          //16px
$fs-1: $fs-base * 2;     //32px
$fs-2: $fs-base * 1.75;  //28px
$fs-3: $fs-base * 1.5;   //24px
$fs-4: $fs-base * 1.25;  //20px
$fs-5: $fs-base;         //16px
$fs-6: $fs-base * 0.875; //14px

// font-family
$font-family-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;

//font-weight
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

//light-height
$lh-sm: 1.25;
$lh-base: 1.5;
$lh-lg: 2;

// transition
$transition-base: all 250ms ease-in-out;

// spacers
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,  // 4
  2: $spacer * 0.5,   // 8
  3: $spacer * 0.75,  // 12
  4: $spacer,         // 16
  5: $spacer * 1.25,  // 20
  6: $spacer * 1.5,   // 24
  7: $spacer * 1.75,  // 28
  8: $spacer * 2,     // 32
  9: $spacer * 2.25,  // 36
  10: $spacer * 2.5,  // 40
  11: $spacer * 2.75, // 44
  12: $spacer * 3,    // 48
  13: $spacer * 3.25, // 52
  14: $spacer * 3.5,  // 56
  15: $spacer * 3.75, // 60
  16: $spacer * 4,    // 64
  17: $spacer * 4.25, // 68
  18: $spacer * 4.5,  // 72
  19: $spacer * 4.75, // 76
  20: $spacer * 5,    // 80
  21: $spacer * 5.25, // 84
  22: $spacer * 5.5,  // 88
  23: $spacer * 5.75, // 92
  24: $spacer * 6,    // 96
  25: $spacer * 6.25, // 100
  26: $spacer * 6.5,  // 104
  27: $spacer * 6.75, // 108
  28: $spacer * 7,    // 112
  29: $spacer * 7.25, // 116
  30: $spacer * 7.5,  // 120
  31: $spacer * 7.75, // 124
  32: $spacer * 8,    // 128
  33: $spacer * 8.25, // 132
  34: $spacer * 8.5,  // 136
  35: $spacer * 8.75, // 140
  36: $spacer * 9,    // 144
  37: $spacer * 9.25, // 148
  38: $spacer * 9.5,  // 152
  39: $spacer * 9.75, // 156
  40: $spacer * 10,   // 160
  50: $spacer * 12.5,  // 200
  53: $spacer * 13.25 // 212
);

$directions: (
  '': false,
  't': top,
  'b': bottom,
  's': left,
  'e': right,
);

//grid
$gutter-width: 30px;
$grid-sum: 12;
$grid-breakpoints: (
  '': false,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);


