.object-fit-cover {
  object-fit: cover !important;
}

// colors
@each $key, $val in $theme-colors {
  .text-#{$key} {
    color: $val !important;
  }
  .bg-#{$key} {
    background-color: $val !important;
  }
}

// spacing
@each $gridKey, $gridValue in $grid-breakpoints {
  @each $key, $val in $spacers {
    @if not $gridValue {
      .m-#{$key} {
        margin: $val;
      }
      .p-#{$key} {
        padding: $val;
      }
      .mt-#{$key} {
        margin-top: $val;
      }
      .pt-#{$key} {
        padding-top: $val;
      }
      .me-#{$key} {
        margin-right: $val;
      }
      .pe-#{$key} {
        padding-right: $val;
      }
      .mb-#{$key} {
        margin-bottom: $val;
      }
      .pb-#{$key} {
        padding-bottom: $val;
      }
      .ms-#{$key} {
        margin-left: $val;
      }
      .ps-#{$key} {
        padding-left: $val;
      }    
      .px-#{$key} {
        padding-left: $val;
        padding-right: $val;
      }
      .py-#{$key} {
        padding-top: $val;
        padding-bottom: $val;
      }
      .mx-#{$key} {
        margin-left: $val;
        margin-right: $val;
      }
      .my-#{$key} {
        margin-top: $val;
        margin-bottom: $val;
      }
    }
    @else {
      @media screen and (min-width: $gridValue) {
        .m-#{$gridKey}-#{$key} {
          margin: $val;
        }
        .p-#{$gridKey}-#{$key} {
          padding: $val;
        }
        .mt-#{$gridKey}-#{$key} {
          margin-top: $val;
        }
        .pt-#{$gridKey}-#{$key} {
          padding-top: $val;
        }
        .me-#{$gridKey}-#{$key} {
          margin-right: $val;
        }
        .pe-#{$gridKey}-#{$key} {
          padding-right: $val;
        }
        .mb-#{$gridKey}-#{$key} {
          margin-bottom: $val;
        }
        .pb-#{$gridKey}-#{$key} {
          padding-bottom: $val;
        }
        .ms-#{$gridKey}-#{$key} {
          margin-left: $val;
        }
        .ps-#{$gridKey}-#{$key} {
          padding-left: $val;
        }    
        .px-#{$gridKey}-#{$key} {
          padding-left: $val;
          padding-right: $val;
        }
        .py-#{$gridKey}-#{$key} {
          padding-top: $val;
          padding-bottom: $val;
        }
        .mx-#{$gridKey}-#{$key} {
          margin-left: $val;
          margin-right: $val;
        }
        .my-#{$gridKey}-#{$key} {
          margin-top: $val;
          margin-bottom: $val;
        }
      }
    }
  }
}
